node-red/communication
[{"id":"8ede2f4d.bc761","type":"tab","label":"Flow 1"},{"id":"46d223d3.79bc3c","type":"tab","label":"Flow 2"},{"id":"71117873.0693f8","type":"serial-port","z":"8ede2f4d.bc761","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"b2d524b5.179c08","type":"twitter-credentials","z":"8ede2f4d.bc761","screen_name":"@HappyTweetBox"},{"id":"f686ff59.d8325","type":"function","z":"8ede2f4d.bc761","name":"extract url","func":"if(msg.tweet.entities.media !== undefined){\n    \n    if(msg.tweet.entities.media.length > 0 && msg.tweet.entities.media[0].type == \"photo\"){\n\n        msg.payload = msg.tweet.entities.media[0].media_url;\n    \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":234,"y":173,"wires":[["ca03ac95.7614f"]]},{"id":"703b7b62.9f72c4","type":"exec","z":"46d223d3.79bc3c","command":"convert ","addpay":true,"append":"/home/pi/htf/twitter-convert/tmp.bmp","useSpawn":"","timer":"","name":"convert","x":379,"y":128,"wires":[["247f9bb0.9d07a4"],[],[]]},{"id":"584d8a58.730e04","type":"watch","z":"46d223d3.79bc3c","name":"if not bmp","files":"/home/pi/htf/twitter-images","x":137,"y":193.5,"wires":[["6b93a10d.20c2a","703b7b62.9f72c4","e520ae87.7231a"]]},{"id":"247f9bb0.9d07a4","type":"exec","z":"46d223d3.79bc3c","command":"potrace /home/pi/htf/twitter-convert/tmp.bmp -s -o /home/pi/htf/twitter-potrace/tmp.svg","addpay":false,"append":"","useSpawn":"","timer":"","name":"potrace","x":585,"y":115,"wires":[[],["ddd22f0.02edbd"],[]]},{"id":"ddd22f0.02edbd","type":"debug","z":"46d223d3.79bc3c","name":"","active":false,"console":"false","complete":"true","x":740,"y":235.5,"wires":[]},{"id":"6b93a10d.20c2a","type":"function","z":"46d223d3.79bc3c","name":"Filtre == jpg","func":"if(msg.size < 1){\n    return null;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":333,"y":265.5,"wires":[[]]},{"id":"6596e01f.32d6d","type":"twitter in","z":"8ede2f4d.bc761","twitter":"b2d524b5.179c08","tags":"@HappytweetBox #draw","user":"false","name":"#draw","topic":"tweets","x":60,"y":322,"wires":[["e33dd863.9fe198"]]},{"id":"1642f0b9.837fef","type":"debug","z":"8ede2f4d.bc761","name":"tweet","active":false,"console":"true","complete":"true","x":464,"y":288,"wires":[]},{"id":"2b9decfe.8964b4","type":"http request","z":"8ede2f4d.bc761","name":"","method":"GET","ret":"bin","url":"{{{payload}}}","tls":"","x":610,"y":103,"wires":[["a73ae31f.899eb","2174ac6f.abb2f4"]]},{"id":"a73ae31f.899eb","type":"file","z":"8ede2f4d.bc761","name":"twitter-images","filename":"/home/pi/htf/twitter-images/tmp.jpg","appendNewline":true,"createDir":false,"overwriteFile":"true","x":826,"y":55,"wires":[]},{"id":"ff186d13.509c","type":"debug","z":"8ede2f4d.bc761","name":"image url","active":false,"console":"true","complete":"payload","x":622,"y":201,"wires":[]},{"id":"2174ac6f.abb2f4","type":"debug","z":"8ede2f4d.bc761","name":"","active":false,"console":"true","complete":"true","x":799,"y":198,"wires":[]},{"id":"26eb95f0.c3ce6a","type":"inject","z":"8ede2f4d.bc761","name":"mon tweet","topic":"","payload":"mon tweet","payloadType":"str","repeat":"","crontab":"","once":false,"x":299,"y":399,"wires":[["a9b61c8a.f92ac"]]},{"id":"ca03ac95.7614f","type":"switch","z":"8ede2f4d.bc761","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"http","vt":"str"}],"checkall":"true","outputs":1,"x":416,"y":172,"wires":[["2b9decfe.8964b4","ff186d13.509c"]]},{"id":"e520ae87.7231a","type":"debug","z":"46d223d3.79bc3c","name":"","active":false,"console":"true","complete":"true","x":304,"y":217,"wires":[]},{"id":"e33dd863.9fe198","type":"function","z":"8ede2f4d.bc761","name":"extract text","func":"if(msg.tweet.text !== undefined){\n    \n    if(msg.tweet.text.length > 0){\n\n        msg = {payload:msg.tweet.text}\n    \n    }\n}\n\n\n/*\nvar TextToSVG =global.get('textToSvg');\n\nif(TextToSVG === undefined){\nnode.error(\"whyyyyyyyy ? :'( \");\nreturn null;\n}\nvar textToSVG = TextToSVG.loadSync();\n\nvar svg = textToSVG.getSVG('hello, is it me you are looking for ?');\n\nvar msg = {payload: svg};\n*/\nreturn msg;","outputs":1,"noerr":0,"x":287,"y":322,"wires":[["1642f0b9.837fef","a9b61c8a.f92ac"]]},{"id":"a0d5c448.1c4378","type":"file","z":"8ede2f4d.bc761","name":"twitter-text","filename":"/home/pi/htf/twitter-text/text.svg","appendNewline":true,"createDir":true,"overwriteFile":"true","x":814,"y":20,"wires":[]},{"id":"e601004e.5b40f","type":"debug","z":"8ede2f4d.bc761","name":"","active":true,"console":"true","complete":"payload","x":306,"y":891,"wires":[]},{"id":"6bcd0231.4f224c","type":"file","z":"8ede2f4d.bc761","name":"twitter-text-gcode","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":934,"y":381,"wires":[]},{"id":"f6f4af00.2623e","type":"function","z":"8ede2f4d.bc761","name":"gcanvas","func":"var cpt = flow.get('cpt');\n\nconsole.log(\"compteur \"+cpt); \n\nGcanvas = global.get('gcanvas');\nconsole.log(\"in gcanvas with \"+msg.payload);\nvar gcode = \"M3 S0 \\n\";\nvar driver = new Gcanvas.GcodeDriver({\n  write: function(cmd) {\n    // console.log(cmd);\n    gcode += cmd;\n    gcode += \"\\n\";\n  }\n  \n});\n\nvar ctx = new Gcanvas(driver);\n\nctx.translate(-90,cpt*-10);\nctx.font = '4pt Helvetiker';\nctx.strokeText(msg.payload);\n\ngcode+=\"M3 S60\\n\";\n\nvar res = gcode.replace(/G1/g,\"G0\");\n\nmsg = {payload: res};\n\nreturn msg;","outputs":1,"noerr":0,"x":651,"y":387,"wires":[["6f3c3099.9b324"]]},{"id":"7245b262.773f0c","type":"serial out","z":"8ede2f4d.bc761","name":"","serial":"71117873.0693f8","x":898,"y":859,"wires":[]},{"id":"d81fe05e.bf9e6","type":"serial in","z":"8ede2f4d.bc761","name":"","serial":"71117873.0693f8","x":93,"y":925,"wires":[["e601004e.5b40f","174656dc.d73169"]]},{"id":"8ce94acd.e12218","type":"inject","z":"8ede2f4d.bc761","name":"","topic":"","payload":"$","payloadType":"str","repeat":"","crontab":"","once":false,"x":676,"y":855,"wires":[["7245b262.773f0c"]]},{"id":"d325afc5.442e1","type":"inject","z":"8ede2f4d.bc761","name":"","topic":"","payload":"$X","payloadType":"str","repeat":"","crontab":"","once":false,"x":671,"y":910,"wires":[["7245b262.773f0c"]]},{"id":"29a03cc2.ab9b24","type":"inject","z":"8ede2f4d.bc761","name":"","topic":"UP","payload":"G91 X0 Y-1","payloadType":"str","repeat":"","crontab":"","once":false,"x":892,"y":804,"wires":[["7245b262.773f0c"]]},{"id":"7e732ad8.922424","type":"inject","z":"8ede2f4d.bc761","name":"","topic":"DOWN","payload":"G91 X0 Y1","payloadType":"str","repeat":"","crontab":"","once":false,"x":906,"y":694,"wires":[["7245b262.773f0c"]]},{"id":"c5eb1d29.14c9a","type":"inject","z":"8ede2f4d.bc761","name":"","topic":"LEFT","payload":"G91 X1 Y0","payloadType":"str","repeat":"","crontab":"","once":false,"x":895,"y":730,"wires":[["7245b262.773f0c"]]},{"id":"cebaeed4.c1f58","type":"inject","z":"8ede2f4d.bc761","name":"","topic":"RIGHT","payload":"G91 X-1 Y0","payloadType":"str","repeat":"","crontab":"","once":false,"x":903,"y":766,"wires":[["7245b262.773f0c"]]},{"id":"ff977bd5.5a13d8","type":"inject","z":"8ede2f4d.bc761","name":"","topic":"","payload":"$H","payloadType":"str","repeat":"","crontab":"","once":false,"x":670,"y":954,"wires":[["7245b262.773f0c"]]},{"id":"174656dc.d73169","type":"function","z":"8ede2f4d.bc761","name":"can send ?","func":"console.log('can send ');\n// si le message est \"ok\" alors, canSend=true\nvar canSend = msg.payload == 'ok';\nflow.set('canSend', canSend);\n\nflow.set('toolAtWork', false);\nmsg = {payload : canSend }\n\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":847,"wires":[[]]},{"id":"181bebf7.556104","type":"comment","z":"8ede2f4d.bc761","name":"Gcode dans fichier","info":"","x":944,"y":349,"wires":[]},{"id":"4ba5c28e.5a651c","type":"function","z":"8ede2f4d.bc761","name":"Gcode sender","func":"console.log('Welcome to Gcode sender');\nconsole.log(flow.get('toolAtWork'));\nif(! flow.get('toolAtWork')){\n   \n    flow.set('toolAtWork', true);\n    var gcodeArray = msg.payload.split('\\n');\n   // \n   var canSend = flow.get('canSend');\n   \n    gcodeArray.map(function(line){\n        \n        if(canSend){\n            console.log(line);\n        }else{\n            console.log('mets une étoile à Shania');\n        }\n        \n    });\n    flow.set('toolAtWork', false);    \n}else{\n    console.log('enlève une étoile à Sarah');\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":389,"y":634,"wires":[[]]},{"id":"acfff0ff.f6f35","type":"watch","z":"8ede2f4d.bc761","name":"Gcode file watcher","files":"/home/pi/htf/twitter-text","x":95,"y":502,"wires":[["f9b8d8a5.5c1c68","741929a5.eb5768"]]},{"id":"741929a5.eb5768","type":"exec","z":"8ede2f4d.bc761","command":"cat msg.file","addpay":true,"append":"","useSpawn":false,"timer":"","name":"","x":360,"y":505.5,"wires":[["b49dcc8.56ab73","1a5e3199.72a90e"],[],[]]},{"id":"42416c19.c085d4","type":"delay","z":"8ede2f4d.bc761","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":707,"y":491,"wires":[["1042a27b.fb0d8e"]]},{"id":"1042a27b.fb0d8e","type":"serial out","z":"8ede2f4d.bc761","name":"","serial":"71117873.0693f8","x":948,"y":478,"wires":[]},{"id":"b49dcc8.56ab73","type":"split","z":"8ede2f4d.bc761","name":"","splt":"\\n","x":549,"y":491,"wires":[["42416c19.c085d4"]]},{"id":"a9b61c8a.f92ac","type":"function","z":"8ede2f4d.bc761","name":"increment compteur","func":"var cpt = flow.get('cpt');\n\nif(cpt === undefined){\n    cpt = -1;\n}\n\nif(cpt >= 20){\n    cpt = -1;\n}\ncpt++;\nflow.set('cpt', cpt);\n\nreturn msg;","outputs":1,"noerr":0,"x":513,"y":320,"wires":[["f6f4af00.2623e"]]},{"id":"6f3c3099.9b324","type":"function","z":"8ede2f4d.bc761","name":"rename file","func":"cpt = flow.get('cpt');\nmsg.filename = \"/home/pi/htf/twitter-text/text-\"+cpt+\".gcode\";\nreturn msg;","outputs":1,"noerr":0,"x":772,"y":321,"wires":[["6bcd0231.4f224c"]]},{"id":"6e98c31b.ff63fc","type":"inject","z":"8ede2f4d.bc761","name":"","topic":"","payload":"cpt","payloadType":"flow","repeat":"","crontab":"","once":false,"x":168,"y":707,"wires":[["18123ff0.850bc"]]},{"id":"18123ff0.850bc","type":"function","z":"8ede2f4d.bc761","name":"reset compteur","func":"flow.set('cpt', -1);\nconsole.log('reset cpt');\nreturn null;","outputs":"0","noerr":0,"x":397,"y":708,"wires":[]},{"id":"1a5e3199.72a90e","type":"debug","z":"8ede2f4d.bc761","name":"","active":true,"console":"true","complete":"payload","x":584.5,"y":569,"wires":[]},{"id":"d02a446b.e2f798","type":"function","z":"8ede2f4d.bc761","name":"","func":"msg = {payload:msg.file}\n\nreturn msg;","outputs":1,"noerr":0,"x":118,"y":444,"wires":[[]]},{"id":"f9b8d8a5.5c1c68","type":"debug","z":"8ede2f4d.bc761","name":"","active":true,"console":"true","complete":"file","x":298,"y":565,"wires":[]},{"id":"8a1ebd9b.d45fd","type":"inject","z":"8ede2f4d.bc761","name":"","topic":"Bic","payload":"m3 s0","payloadType":"str","repeat":"","crontab":"","once":false,"x":846,"y":967,"wires":[["7245b262.773f0c"]]},{"id":"e3b81350.c6beb","type":"inject","z":"8ede2f4d.bc761","name":"","topic":"levee","payload":"m3 s45","payloadType":"str","repeat":"","crontab":"","once":false,"x":827,"y":1018,"wires":[["7245b262.773f0c"]]}]
