node-red/communication
[{"id":"22a6bc78.dd7284","type":"tab","label":"Flow 1"},{"id":"af2b1419.94a638","type":"function","z":"22a6bc78.dd7284","name":"extract url","func":"if(msg.tweet.entities.media !== undefined){\n    \n    if(msg.tweet.entities.media.length > 0 && msg.tweet.entities.media[0].type == \"photo\"){\n\n        msg.payload = msg.tweet.entities.media[0].media_url;\n    \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":234,"y":173,"wires":[["96afb4b1.a56ab8"]]},{"id":"76e4e41e.459cbc","type":"twitter in","z":"22a6bc78.dd7284","twitter":"","tags":"@HappytweetBox #draw","user":"false","name":"#draw","topic":"tweets","x":82,"y":322,"wires":[["27ba2b2c.b14264"]]},{"id":"6819931a.35379c","type":"debug","z":"22a6bc78.dd7284","name":"tweet","active":true,"console":"true","complete":"true","x":464,"y":288,"wires":[]},{"id":"91aecacb.dd2908","type":"http request","z":"22a6bc78.dd7284","name":"","method":"GET","ret":"bin","url":"{{{payload}}}","tls":"","x":610,"y":103,"wires":[["b0b22836.314798","494b0920.eebf58"]]},{"id":"b0b22836.314798","type":"file","z":"22a6bc78.dd7284","name":"twitter-images","filename":"/home/pi/htf/twitter-images/tmp.jpg","appendNewline":true,"createDir":false,"overwriteFile":"true","x":826,"y":55,"wires":[]},{"id":"2c1abbb6.84d5f4","type":"debug","z":"22a6bc78.dd7284","name":"image url","active":false,"console":"true","complete":"payload","x":622,"y":201,"wires":[]},{"id":"494b0920.eebf58","type":"debug","z":"22a6bc78.dd7284","name":"","active":false,"console":"true","complete":"true","x":799,"y":198,"wires":[]},{"id":"9d325ca.c95dea","type":"inject","z":"22a6bc78.dd7284","name":"mon tweet","topic":"","payload":"gregtweet","payloadType":"str","repeat":"","crontab":"","once":false,"x":278,"y":398,"wires":[["baf0140e.125868"]]},{"id":"96afb4b1.a56ab8","type":"switch","z":"22a6bc78.dd7284","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"http","vt":"str"}],"checkall":"true","outputs":1,"x":416,"y":172,"wires":[["91aecacb.dd2908","2c1abbb6.84d5f4"]]},{"id":"27ba2b2c.b14264","type":"function","z":"22a6bc78.dd7284","name":"extract text","func":"if(msg.tweet.text !== undefined){\n    \n    if(msg.tweet.text.length > 0){\n        var mille = msg.tweet.text.replace(/@HappyTweetBox /g,\"\");\n        mille = mille.replace(/#draw /g,\"\");\n        mille = mille.substr(0,35);\n        msg = {payload:mille}\n    \n    }\n}\n\n\n/*\nvar TextToSVG =global.get('textToSvg');\n\nif(TextToSVG === undefined){\nnode.error(\"whyyyyyyyy ? :'( \");\nreturn null;\n}\nvar textToSVG = TextToSVG.loadSync();\n\nvar svg = textToSVG.getSVG('hello, is it me you are looking for ?');\n\nvar msg = {payload: svg};\n*/\nreturn msg;","outputs":1,"noerr":0,"x":254,"y":322,"wires":[["6819931a.35379c","baf0140e.125868"]]},{"id":"6a08c0e.f70874","type":"file","z":"22a6bc78.dd7284","name":"twitter-text","filename":"/home/pi/htf/twitter-text/text.svg","appendNewline":true,"createDir":true,"overwriteFile":"true","x":814,"y":20,"wires":[]},{"id":"8d8524e5.420d18","type":"debug","z":"22a6bc78.dd7284","name":"","active":true,"console":"true","complete":"payload","x":373,"y":983,"wires":[]},{"id":"73869a6a.97b7c4","type":"file","z":"22a6bc78.dd7284","name":"twitter-text-gcode","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":934,"y":381,"wires":[]},{"id":"a214d37b.4400b","type":"function","z":"22a6bc78.dd7284","name":"gcanvas","func":"var cpt = flow.get('cpt');\n\nconsole.log(\"compteur \"+cpt); \nvar compt = 0;\nGcanvas = global.get('gcanvas');\nconsole.log(\"in gcanvas with \"+msg.payload);\nvar gcode = \"G0 X0 Y\"+(-6+cpt*-6)+\" \\nM3 S0 \\n\";\nvar driver = new Gcanvas.GcodeDriver({\n  write: function(cmd) {\n    // console.log(cmd);\n    gcode += cmd;\n    gcode += \"\\n\";\n    \n  }\n  \n});\n\nvar ctx = new Gcanvas(driver);\n\nctx.translate(0,-6+cpt*-6);\nctx.font = '5pt Helvetiker';\nctx.strokeText(msg.payload);\n\ngcode+=\"M3 S60\\nG0 X0 Y0\\n\";\n\nvar res = gcode.replace(/G1/g,\"G0\");\nres = res.replace(/X/g,\"X-\");\nres = res.replace(/Y-/g,\"Y\");\nmsg = {payload: res};\n\nreturn msg;","outputs":1,"noerr":0,"x":651,"y":387,"wires":[["bed48198.70c3a"]]},{"id":"79449f77.abff5","type":"serial out","z":"22a6bc78.dd7284","name":"","serial":"302e4890.e00d08","x":965,"y":951,"wires":[]},{"id":"6ee3ab23.b952c4","type":"serial in","z":"22a6bc78.dd7284","name":"","serial":"302e4890.e00d08","x":160,"y":1017,"wires":[["8d8524e5.420d18","c23323a0.43943"]]},{"id":"f955820a.77c3","type":"inject","z":"22a6bc78.dd7284","name":"","topic":"","payload":"$","payloadType":"str","repeat":"","crontab":"","once":false,"x":743,"y":947,"wires":[["79449f77.abff5"]]},{"id":"3f4c445a.28965c","type":"inject","z":"22a6bc78.dd7284","name":"","topic":"","payload":"$X","payloadType":"str","repeat":"","crontab":"","once":false,"x":738,"y":1002,"wires":[["79449f77.abff5"]]},{"id":"26bd993.d71eb66","type":"inject","z":"22a6bc78.dd7284","name":"","topic":"UP","payload":"G91 X0 Y-1","payloadType":"str","repeat":"","crontab":"","once":false,"x":959,"y":896,"wires":[["79449f77.abff5"]]},{"id":"f3a94da7.2ef37","type":"inject","z":"22a6bc78.dd7284","name":"","topic":"DOWN","payload":"G91 X0 Y1","payloadType":"str","repeat":"","crontab":"","once":false,"x":973,"y":786,"wires":[["79449f77.abff5"]]},{"id":"380125b1.83f7da","type":"inject","z":"22a6bc78.dd7284","name":"","topic":"LEFT","payload":"G91 X1 Y0","payloadType":"str","repeat":"","crontab":"","once":false,"x":962,"y":822,"wires":[["79449f77.abff5"]]},{"id":"c4b310fb.b902a","type":"inject","z":"22a6bc78.dd7284","name":"","topic":"RIGHT","payload":"G91 X-1 Y0","payloadType":"str","repeat":"","crontab":"","once":false,"x":970,"y":858,"wires":[["79449f77.abff5"]]},{"id":"dcd0c69e.b662f8","type":"inject","z":"22a6bc78.dd7284","name":"","topic":"","payload":"$H","payloadType":"str","repeat":"","crontab":"","once":false,"x":737,"y":1046,"wires":[["79449f77.abff5"]]},{"id":"c23323a0.43943","type":"function","z":"22a6bc78.dd7284","name":"can send ?","func":"console.log('can send ');\n// si le message est \"ok\" alors, canSend=true\nvar canSend = msg.payload == 'ok';\nflow.set('canSend', canSend);\n\nflow.set('toolAtWork', false);\nmsg = {payload : canSend }\n\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":939,"wires":[[]]},{"id":"2f662c4c.a87fd4","type":"comment","z":"22a6bc78.dd7284","name":"Gcode dans fichier","info":"","x":944,"y":349,"wires":[]},{"id":"2d86197b.99e836","type":"function","z":"22a6bc78.dd7284","name":"Gcode sender","func":"console.log('Welcome to Gcode sender');\nconsole.log(flow.get('toolAtWork'));\nif(! flow.get('toolAtWork')){\n   \n    flow.set('toolAtWork', true);\n   \n    \n   var canSend = flow.get('canSend');\n   \n    while(! flow.get('canSend')){\n        console.log('.');\n    }\n    \n    flow.set('toolAtWork', false);    \n}else{\n    console.log('enlève une étoile à Sarah');\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":715,"y":712,"wires":[[]]},{"id":"bd511d7c.eedf5","type":"watch","z":"22a6bc78.dd7284","name":"Gcode file watcher","files":"/home/pi/htf/twitter-text","x":156,"y":570,"wires":[[]]},{"id":"c9cd5869.d38df8","type":"exec","z":"22a6bc78.dd7284","command":"cat","addpay":true,"append":"","useSpawn":false,"timer":"","name":"","x":357,"y":575.5,"wires":[["30c119b1.dc1996","a24e4410.e805f8"],[],[]]},{"id":"4a1dded.653c12","type":"delay","z":"22a6bc78.dd7284","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":714,"y":561,"wires":[["62544e8f.6a45d"]]},{"id":"6e1cffe2.f5e31","type":"serial out","z":"22a6bc78.dd7284","name":"","serial":"302e4890.e00d08","x":965,"y":548,"wires":[]},{"id":"30c119b1.dc1996","type":"split","z":"22a6bc78.dd7284","name":"","splt":"","x":527,"y":556,"wires":[["4a1dded.653c12"]]},{"id":"baf0140e.125868","type":"function","z":"22a6bc78.dd7284","name":"increment compteur","func":"var cpt = flow.get('cpt');\n\nif(cpt === undefined){\n    cpt = 34;\n}\n\nif(cpt <= 0){\n    cpt = 34;\n}\ncpt--;\nflow.set('cpt', cpt);\n\nreturn msg;","outputs":1,"noerr":0,"x":513,"y":320,"wires":[["a214d37b.4400b"]]},{"id":"bed48198.70c3a","type":"function","z":"22a6bc78.dd7284","name":"rename file","func":"cpt = flow.get('cpt');\nmsg.filename = \"/home/pi/htf/twitter-text/text-\"+cpt+\".gcode\";\nreturn msg;","outputs":1,"noerr":0,"x":772,"y":321,"wires":[["73869a6a.97b7c4"]]},{"id":"9f5b7cbc.fff57","type":"inject","z":"22a6bc78.dd7284","name":"","topic":"","payload":"cpt","payloadType":"flow","repeat":"","crontab":"","once":false,"x":303,"y":852,"wires":[["b6e119dc.ab7898"]]},{"id":"b6e119dc.ab7898","type":"function","z":"22a6bc78.dd7284","name":"reset compteur","func":"flow.set('cpt', -1);\nconsole.log('reset cpt');\nreturn null;","outputs":"0","noerr":0,"x":464,"y":800,"wires":[]},{"id":"62544e8f.6a45d","type":"debug","z":"22a6bc78.dd7284","name":"","active":false,"console":"true","complete":"payload","x":937.5,"y":506,"wires":[]},{"id":"a24e4410.e805f8","type":"debug","z":"22a6bc78.dd7284","name":"","active":false,"console":"true","complete":"payload","x":543,"y":597,"wires":[]},{"id":"743222a2.055e1c","type":"inject","z":"22a6bc78.dd7284","name":"","topic":"Bic","payload":"M5","payloadType":"str","repeat":"","crontab":"","once":false,"x":903,"y":1059,"wires":[["79449f77.abff5"]]},{"id":"a130bcab.7596c","type":"inject","z":"22a6bc78.dd7284","name":"","topic":"levee","payload":"M3 S45","payloadType":"str","repeat":"","crontab":"","once":false,"x":894,"y":1110,"wires":[["79449f77.abff5"]]},{"id":"302e4890.e00d08","type":"serial-port","z":"22a6bc78.dd7284","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true}]
