node-red/twitter
[{"id":"2ef685f7.a82a3a","type":"tab","label":"Flow 1"},{"id":"218b1da.97979e2","type":"tab","label":"Flow 2"},{"id":"a1044916.b81ac8","type":"serial-port","z":"2ef685f7.a82a3a","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"50a9f797.fdb0d8","type":"twitter-credentials","z":"2ef685f7.a82a3a","screen_name":"@HappyTweetBox"},{"id":"b62d4655.4ab678","type":"function","z":"2ef685f7.a82a3a","name":"extract url","func":"if(msg.tweet.entities.media !== undefined){\n    \n    if(msg.tweet.entities.media.length > 0 && msg.tweet.entities.media[0].type == \"photo\"){\n\n        msg.payload = msg.tweet.entities.media[0].media_url;\n    \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":349,"y":263,"wires":[["5fbbfe22.6cbd7"]]},{"id":"4528628a.69c33c","type":"exec","z":"218b1da.97979e2","command":"convert ","addpay":true,"append":"/home/pi/htf/twitter-convert/tmp.bmp","useSpawn":"","timer":"","name":"convert","x":442,"y":177,"wires":[["73b1dd75.5ac5e4"],[],[]]},{"id":"853c9093.5712","type":"watch","z":"218b1da.97979e2","name":"if not bmp","files":"/home/pi/htf/twitter-images","x":200,"y":242.5,"wires":[["9b2c363c.dd0108","4528628a.69c33c"]]},{"id":"73b1dd75.5ac5e4","type":"exec","z":"218b1da.97979e2","command":"potrace /home/pi/htf/twitter-convert/tmp.bmp -s -o /home/pi/htf/twitter-potrace/tmp.svg","addpay":false,"append":"","useSpawn":"","timer":"","name":"potrace","x":648,"y":164,"wires":[[],["20e859d8.18e666"],[]]},{"id":"a2efb46c.8fe4c8","type":"watch","z":"218b1da.97979e2","name":"after convert","files":"/home/pi/htf/twitter-convert","x":241,"y":489.5,"wires":[[]]},{"id":"20e859d8.18e666","type":"debug","z":"218b1da.97979e2","name":"","active":true,"console":"false","complete":"true","x":803,"y":284.5,"wires":[]},{"id":"9b2c363c.dd0108","type":"function","z":"218b1da.97979e2","name":"Filtre == jpg","func":"if(msg.size < 1){\n    return null;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":427,"y":317.5,"wires":[[]]},{"id":"32144d6e.4ec362","type":"debug","z":"218b1da.97979e2","name":"","active":true,"console":"false","complete":"payload","x":243,"y":575,"wires":[]},{"id":"582c1a9d.19f7c4","type":"watch","z":"218b1da.97979e2","name":"after potrace","files":"/home/pi/htf/twitter-potrace","x":242,"y":530,"wires":[[]]},{"id":"f4378434.c0fd78","type":"twitter in","z":"2ef685f7.a82a3a","twitter":"50a9f797.fdb0d8","tags":"@HappytweetBox #draw","user":"false","name":"#draw","topic":"tweets","x":141,"y":265,"wires":[["1a13c171.48956f","b62d4655.4ab678"]]},{"id":"1a13c171.48956f","type":"debug","z":"2ef685f7.a82a3a","name":"tweet","active":true,"console":"true","complete":"tweet.entities","x":475,"y":432,"wires":[]},{"id":"892c3355.f10a7","type":"http request","z":"2ef685f7.a82a3a","name":"","method":"GET","ret":"bin","url":"{{{payload}}}","tls":"","x":750,"y":219,"wires":[["22172aba.a07356","85f16a6b.87eb88"]]},{"id":"22172aba.a07356","type":"file","z":"2ef685f7.a82a3a","name":"twitter-images","filename":"/home/pi/htf/twitter-images/tmp.jpg","appendNewline":true,"createDir":false,"overwriteFile":"true","x":966,"y":171,"wires":[]},{"id":"e9461b6b.2793a8","type":"debug","z":"2ef685f7.a82a3a","name":"image url","active":true,"console":"true","complete":"payload","x":731,"y":367,"wires":[]},{"id":"85f16a6b.87eb88","type":"debug","z":"2ef685f7.a82a3a","name":"","active":false,"console":"true","complete":"true","x":938,"y":356,"wires":[]},{"id":"d1fa5507.a85d28","type":"inject","z":"2ef685f7.a82a3a","name":"","topic":"","payload":"https://pbs.twimg.com/media/CyqPVTvXEAAJGPK.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":505,"y":173,"wires":[[]]},{"id":"5fbbfe22.6cbd7","type":"switch","z":"2ef685f7.a82a3a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"http","vt":"str"}],"checkall":"true","outputs":1,"x":518,"y":267,"wires":[["892c3355.f10a7","e9461b6b.2793a8"]]}]
