node-red/twitter.json
[{"id":"bea44d37.58e45","type":"tab","label":"Flow 1"},{"id":"fc9c525f.ecbe5","type":"tab","label":"Flow 2"},{"id":"9ed97d8e.f2a32","type":"tab","label":"Flow 3"},{"id":"7348f75d.944ae8","type":"serial-port","z":"bea44d37.58e45","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"64939e2c.227b7","type":"twitter-credentials","z":"","screen_name":"@HappyTweetBox"},{"id":"cca3d411.78d378","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"f3d058d.b8a4da8","type":"function","z":"bea44d37.58e45","name":"extract url","func":"if(msg.tweet.entities.media !== undefined){\n    \n    if(msg.tweet.entities.media.length > 0 && msg.tweet.entities.media[0].type == \"photo\"){\n\n        msg.payload = msg.tweet.entities.media[0].media_url;\n    \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":349,"y":263,"wires":[["a339c49d.9a93f8"]]},{"id":"1126d480.82f93c","type":"exec","z":"fc9c525f.ecbe5","command":"convert -monochrome","addpay":true,"append":"/home/pi/htf/twitter-convert/tmp.bmp","useSpawn":"","timer":"","name":"convert","x":459,"y":177,"wires":[["4cdad74c.318df8"],[],[]]},{"id":"b5b858c7.7b32d8","type":"watch","z":"fc9c525f.ecbe5","name":"if not bmp","files":"/home/pi/htf/twitter-images","x":65,"y":185.5,"wires":[["f75dcebe.4ed29","3737e37c.a434bc","1126d480.82f93c"]]},{"id":"4cdad74c.318df8","type":"exec","z":"fc9c525f.ecbe5","command":"potrace /home/pi/htf/twitter-convert/tmp.bmp -b dxf -o /home/pi/htf/twitter-potrace/tmp.dxf","addpay":false,"append":"","useSpawn":"","timer":"","name":"potrace","x":665,"y":164,"wires":[[],["1821a634.d94e3a"],[]]},{"id":"1821a634.d94e3a","type":"debug","z":"fc9c525f.ecbe5","name":"","active":true,"console":"false","complete":"true","x":820,"y":284.5,"wires":[]},{"id":"f75dcebe.4ed29","type":"function","z":"fc9c525f.ecbe5","name":"Filtre == jpg","func":"if(msg.size < 1){\n    return null;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":237,"y":333.5,"wires":[[]]},{"id":"e4e6b838.7c0018","type":"twitter in","z":"bea44d37.58e45","twitter":"64939e2c.227b7","tags":"@HappytweetBox #draw","user":"false","name":"#draw","topic":"tweets","x":81,"y":266,"wires":[["f3d058d.b8a4da8","8498d3df.317bd"]]},{"id":"472d1a7f.3d4264","type":"debug","z":"bea44d37.58e45","name":"tweet","active":true,"console":"true","complete":"tweet.text","x":407,"y":334,"wires":[]},{"id":"66f64df9.05fe64","type":"http request","z":"bea44d37.58e45","name":"","method":"GET","ret":"bin","url":"{{{payload}}}","tls":"","x":750,"y":219,"wires":[["276c5818.2d0128","53cc0b6c.fa6bb4"]]},{"id":"276c5818.2d0128","type":"file","z":"bea44d37.58e45","name":"twitter-images","filename":"/home/pi/htf/twitter-images/tmp.jpg","appendNewline":true,"createDir":true,"overwriteFile":"true","x":966,"y":171,"wires":[]},{"id":"cc1f69ed.565c98","type":"debug","z":"bea44d37.58e45","name":"image url","active":true,"console":"true","complete":"payload","x":731,"y":367,"wires":[]},{"id":"53cc0b6c.fa6bb4","type":"debug","z":"bea44d37.58e45","name":"","active":false,"console":"true","complete":"true","x":938,"y":356,"wires":[]},{"id":"a7deee4a.b53de","type":"inject","z":"bea44d37.58e45","name":"mon tweet","topic":"","payload":"mon tweet","payloadType":"str","repeat":"","crontab":"","once":false,"x":78,"y":556,"wires":[[]]},{"id":"a339c49d.9a93f8","type":"switch","z":"bea44d37.58e45","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"http","vt":"str"}],"checkall":"true","outputs":1,"x":518,"y":267,"wires":[["66f64df9.05fe64","cc1f69ed.565c98"]]},{"id":"3737e37c.a434bc","type":"debug","z":"fc9c525f.ecbe5","name":"","active":true,"console":"true","complete":"true","x":452,"y":265,"wires":[]},{"id":"8498d3df.317bd","type":"function","z":"bea44d37.58e45","name":"extract text","func":"\n/* if(msg.tweet.text !== undefined){\n    \n    if(msg.tweet.text.length > 0){\n\n        msg.payload = msg.tweet.text;\n    \n    }\n} */\n\n\nvar TextToSVG =global.get('textToSvg');\n\nif(TextToSVG === undefined){\nnode.error(\"whyyyyyyyy ? :'( \");\nreturn null;\n}\nvar textToSVG = TextToSVG.loadSync();\n\nvar attributes = {fill: 'red', stroke: 'black'};\nvar options = {x: 0, y: 0, fontSize: 72, anchor: 'top', attributes: attributes};\n\nvar svg = textToSVG.getSVG(msg.tweet.text, options);\n\nvar msg = {payload: svg};\n\nreturn msg;","outputs":1,"noerr":0,"x":363,"y":455,"wires":[["d07f2103.6bb0c","3a6952e2.d1479e"]]},{"id":"d07f2103.6bb0c","type":"file","z":"bea44d37.58e45","name":"twitter-text","filename":"/home/pi/htf/twitter-text/text.svg","appendNewline":true,"createDir":true,"overwriteFile":"true","x":599,"y":451,"wires":[]},{"id":"3a6952e2.d1479e","type":"debug","z":"bea44d37.58e45","name":"","active":true,"console":"true","complete":"payload","x":646,"y":504,"wires":[]},{"id":"579e7b29.cc8074","type":"serial out","z":"bea44d37.58e45","name":"","serial":"cca3d411.78d378","x":874.5,"y":662,"wires":[]},{"id":"ba7fb356.aff9","type":"inject","z":"bea44d37.58e45","name":"HIGH","topic":"","payload":"H","payloadType":"str","repeat":"","crontab":"","once":false,"x":667.5,"y":661,"wires":[["579e7b29.cc8074"]]},{"id":"7cba2e38.509cd","type":"inject","z":"bea44d37.58e45","name":"LOW","topic":"","payload":"L","payloadType":"str","repeat":"","crontab":"","once":false,"x":668,"y":730,"wires":[["579e7b29.cc8074"]]}]
