node-red/twitter.json
[{"id":"9fcbd3a.cb0d13","type":"tab","label":"Flow 1"},{"id":"54a5e11a.95cd3","type":"tab","label":"Flow 2"},{"id":"8fe9c07c.3d9b7","type":"serial-port","z":"9fcbd3a.cb0d13","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"24e21236.3d607e","type":"twitter-credentials","z":"9fcbd3a.cb0d13","screen_name":"@HappyTweetBox"},{"id":"aa83cbdb.0698e8","type":"function","z":"9fcbd3a.cb0d13","name":"extract url","func":"if(msg.tweet.entities.media !== undefined){\n    \n    if(msg.tweet.entities.media.length > 0 && msg.tweet.entities.media[0].type == \"photo\"){\n\n        msg.payload = msg.tweet.entities.media[0].media_url;\n    \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":349,"y":263,"wires":[["d814704b.8c96c"]]},{"id":"6a5d4ec8.a0b52","type":"exec","z":"54a5e11a.95cd3","command":"convert ","addpay":true,"append":"/home/pi/htf/twitter-convert/tmp.bmp","useSpawn":"","timer":"","name":"convert","x":442,"y":177,"wires":[["45051173.cf755"],[],[]]},{"id":"e6ec6a41.3ba0d8","type":"watch","z":"54a5e11a.95cd3","name":"if not bmp","files":"/home/pi/htf/twitter-images","x":200,"y":242.5,"wires":[["dc5f846e.cd65a8","6a5d4ec8.a0b52","3aff017f.b1179e"]]},{"id":"45051173.cf755","type":"exec","z":"54a5e11a.95cd3","command":"potrace /home/pi/htf/twitter-convert/tmp.bmp -s -o /home/pi/htf/twitter-potrace/tmp.svg","addpay":false,"append":"","useSpawn":"","timer":"","name":"potrace","x":648,"y":164,"wires":[[],["75af2b5f.d0ed04"],[]]},{"id":"64797c01.16df64","type":"watch","z":"54a5e11a.95cd3","name":"after convert","files":"/home/pi/htf/twitter-convert","x":241,"y":489.5,"wires":[[]]},{"id":"75af2b5f.d0ed04","type":"debug","z":"54a5e11a.95cd3","name":"","active":true,"console":"false","complete":"true","x":803,"y":284.5,"wires":[]},{"id":"dc5f846e.cd65a8","type":"function","z":"54a5e11a.95cd3","name":"Filtre == jpg","func":"if(msg.size < 1){\n    return null;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":396,"y":314.5,"wires":[[]]},{"id":"ee651308.f4236","type":"debug","z":"54a5e11a.95cd3","name":"","active":true,"console":"false","complete":"payload","x":243,"y":575,"wires":[]},{"id":"5753a483.9593ac","type":"watch","z":"54a5e11a.95cd3","name":"after potrace","files":"/home/pi/htf/twitter-potrace","x":242,"y":530,"wires":[[]]},{"id":"33d46592.19571a","type":"twitter in","z":"9fcbd3a.cb0d13","twitter":"24e21236.3d607e","tags":"@HappytweetBox #draw","user":"false","name":"#draw","topic":"tweets","x":81,"y":266,"wires":[["aa83cbdb.0698e8","1ba367b8.ab1378"]]},{"id":"5f1fe328.f549cc","type":"debug","z":"9fcbd3a.cb0d13","name":"tweet","active":true,"console":"true","complete":"tweet.text","x":371,"y":350,"wires":[]},{"id":"c3634b45.5d6c58","type":"http request","z":"9fcbd3a.cb0d13","name":"","method":"GET","ret":"bin","url":"{{{payload}}}","tls":"","x":750,"y":219,"wires":[["87e59cbd.e75b6","a012505e.66f99"]]},{"id":"87e59cbd.e75b6","type":"file","z":"9fcbd3a.cb0d13","name":"twitter-images","filename":"/home/pi/htf/twitter-images/tmp.jpg","appendNewline":true,"createDir":false,"overwriteFile":"true","x":966,"y":171,"wires":[]},{"id":"5c47d6b1.66b958","type":"debug","z":"9fcbd3a.cb0d13","name":"image url","active":true,"console":"true","complete":"payload","x":731,"y":367,"wires":[]},{"id":"a012505e.66f99","type":"debug","z":"9fcbd3a.cb0d13","name":"","active":false,"console":"true","complete":"true","x":938,"y":356,"wires":[]},{"id":"dadbd94d.2ab478","type":"inject","z":"9fcbd3a.cb0d13","name":"mon tweet","topic":"","payload":"mon tweet","payloadType":"str","repeat":"","crontab":"","once":false,"x":75,"y":532,"wires":[[]]},{"id":"d814704b.8c96c","type":"switch","z":"9fcbd3a.cb0d13","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"http","vt":"str"}],"checkall":"true","outputs":1,"x":518,"y":267,"wires":[["c3634b45.5d6c58","5c47d6b1.66b958"]]},{"id":"3aff017f.b1179e","type":"debug","z":"54a5e11a.95cd3","name":"","active":true,"console":"true","complete":"true","x":367,"y":266,"wires":[]},{"id":"1ba367b8.ab1378","type":"function","z":"9fcbd3a.cb0d13","name":"extract text","func":"if(msg.tweet.text !== undefined){\n    \n    if(msg.tweet.text.length > 0){\n\n        msg.payload = msg.tweet.text;\n    \n    }\n}\n\n\n\nvar TextToSVG =global.get('textToSvg');\n\nif(TextToSVG === undefined){\nnode.error(\"whyyyyyyyy ? :'( \");\nreturn null;\n}\nvar textToSVG = TextToSVG.loadSync();\n\nvar svg = textToSVG.getSVG('hello, is it me you are looking for ?');\n\nvar msg = {payload: svg};\n\nreturn msg;","outputs":1,"noerr":0,"x":339,"y":543,"wires":[["96f03ada.149bb8","b8011868.12f4a8"]]},{"id":"96f03ada.149bb8","type":"file","z":"9fcbd3a.cb0d13","name":"twitter-text","filename":"/home/pi/htf/twitter-text/text.svg","appendNewline":true,"createDir":true,"overwriteFile":"true","x":575,"y":539,"wires":[]},{"id":"b8011868.12f4a8","type":"debug","z":"9fcbd3a.cb0d13","name":"","active":true,"console":"true","complete":"payload","x":588,"y":598,"wires":[]}]
